{% import "macros.j2" as macros %}
{% extends "base.j2" %}
{% block content %}

    {{ macros.header(schema.schema, scope, full_name) }}

    <div class="container">
        <div class="accordion" id="assay_accordion">
            {% if schema.assay_metadata %}
                <div class="card">
                    <div class="card-header" id="assay_metadata">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#assay_metadata_card" aria-expanded="false" aria-controls="assay_metadata_card">
                                Assay Metadata
                            </button>
                        </h2>
                    </div>
                    <div id="assay_metadata_card" class="collapse" aria-labelledby="assay_metadata" data-parent="#assay_accordion">
                        <div class="card-body">
                            {{ macros.properties_table(schema.assay_metadata, schema.required_assay_metadata) }}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if schema.assay_data %}
                <div class="card">
                    <div class="card-header" id="assay_data">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#assay_data_card" aria-expanded="false" aria-controls="assay_data_card">
                                Assay Data
                            </button>
                        </h2>
                    </div>
                    <div id="assay_data_card" class="collapse" aria-labelledby="assay_data" data-parent="#assay_accordion">
                        <div class="card-body">
                            {{ macros.properties_table(schema.assay_data, schema.required_assay_data) }}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if schema.analysis_metadata %}
                <div class="card">
                    <div class="card-header" id="analysis_metadata">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#analysis_metadata_card" aria-expanded="false" aria-controls="analysis_metadata_card">
                                Analysis Metadata
                            </button>
                        </h2>
                    </div>
                    <div id="analysis_metadata_card" class="collapse" aria-labelledby="analysis_metadata" data-parent="#assay_accordion">
                        <div class="card-body">
                            {{ macros.properties_table(schema.analysis_metadata, schema.required_analysis_metadata) }}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if schema.analysis_data %}
                <div class="card">
                    <div class="card-header" id="analysis_data">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#analysis_data_card" aria-expanded="false" aria-controls="analysis_data_card">
                                Analysis Data
                            </button>
                        </h2>
                    </div>
                    <div id="analysis_data_card" class="collapse" aria-labelledby="analysis_data" data-parent="#assay_accordion">
                        <div class="card-body">
                            {{ macros.properties_table(schema.analysis_data, schema.required_analysis_data) }}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if schema.assay_templates %}
                <div class="card">
                    <div class="card-header" id="assay_uploads">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#assay_uploads_card" aria-expanded="false" aria-controls="assay_uploads_card">
                                Assay Uploads
                            </button>
                        </h2>
                    </div>
                    <div id="assay_uploads_card" class="collapse" aria-labelledby="assay_uploads" data-parent="#assay_accordion">
                        <div class="card-body">
                            {{ macros.uploads_table(scope, name, schema.assay_templates) }}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if schema.analysis_templates %}
                <div class="card">
                    <div class="card-header" id="analaysis_uploads">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#analaysis_uploads_card" aria-expanded="false" aria-controls="analaysis_uploads_card">
                            Analysis Uploads
                            </button>
                        </h2>
                    </div>
                    <div id="analaysis_uploads_card" class="collapse" aria-labelledby="analaysis_uploads" data-parent="#assay_accordion">
                        <div class="card-body">
                            {{ macros.uploads_table(scope, name, schema.analysis_templates) }}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}