{% import "macros.j2" as macros %}
{% extends "base.j2" %}
{% block content %}

  {{ macros.header(schema, scope) }}

  <div class="container">
    {{ macros.properties_table(schema['properties'], schema['required'])}}
  </div>

{% endblock %}