{% import "macros.j2" as macros %}
{% extends "base.j2" %}
{% block content %}

  {{ macros.header(schema, scope, full_name) }}

  <div class="container">
    <h3>Properties</h3>
    {{ macros.properties_table(schema, schema['required'])}}

    {{ macros.definitions_table(schema, schema['required'])}}
  </div>

{% endblock %}
