{% extends "base.j2" %}
{% block content %}

    <div class="container">
        <p>CIDC Data Model</p>

        <h1>CIDC Data Model</h1>

        <div class="alert alert-primary" role="alert">
            Draft 0.1 of the CIDC Data Model.
        </div>

        {% for dirname, schemas in schema_directories.items() %}
            <h5>{{ dirname.replace('.', ' > ').title() }}</h5>
            <p>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Entity</th>
                    <th>Description</th>
                </tr>
                </thead>
                {% for entity_name, (entity_schema, json) in schemas.items() %}
                <tr>
                    {% if dirname == "" %}
                        <td width=25%><a href='{{ entity_name }}.html'>{{ entity_schema["title"] }}</a></td>
                    {% else %}
                        <td width=25%><a href='{{ dirname }}.{{ entity_name }}.html'>{{ entity_schema["title"] }}</a></td>
                    {% endif %}
                    <td>{{ entity_schema["description"] }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </div>

{% endblock %}