{% macro header(schema, scope, name, required) -%}
{# Generate the section to put at the top of an entity's page #}
    <div class="container">
        <p>
            <a href="index.html">CIDC Data Model</a>
        </p>
        <h1>{{ schema["title"] }}</h1>
        <p>
            <b>Description:</b>  {{ schema["description"] }}
        </p>
        {% if "links" in schema %}
        <p>
            Each {{ schema["title"] }} is <b>linked</b> to:
            <ul>
                {% for link in schema["links"] %}
                    <li>{{ link["link"]["cardinality"]}}
                        <a href='{{scope}}.{{ link["link"]["linked_to"] }}.html'>
                            {{ link["link"]["linked_to"] }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </p>
        {% endif %}
    </div>
{%- endmacro %}

{% macro properties_table(schema, required) -%}
    {% set properties = [] %}
    {% if 'properties' in schema or 'allOf' in schema %}
        {% if 'allOf' in schema %}
            {% for prop in schema['allOf'] %}
                {% if 'url' in prop %}
                    {% set _ = properties.append(("$ref", prop)) %}
                {% endif %}
                {% if 'properties' in prop %}
                    {% set _ = properties.extend(prop['properties'].items()) %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if 'properties' in schema %}
            {% set _ = properties.extend(schema['properties'].items()) %}
        {% endif %}
    {% else %}
        {% set properties = schema.items() %}
    {% endif %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Property</th>
            <th>Description</th>
            <th>Data Type</th>
        </tr>
        </thead>
        {% for prop_name, prop_schema in properties %}
            {% if prop_name in required or prop_name == "$ref" %}
                {{ property_table_row(prop_name, prop_schema, True) }}
            {% endif %}
        {% endfor %}
        {% for prop_name, prop_schema in properties %}
            {% if prop_name not in required and prop_name != "$ref" %}
                {{ property_table_row(prop_name, prop_schema, False) }}
            {% endif %}
        {% endfor %}
    </table>
{%- endmacro %}

{% macro property_table_row(prop_name, prop_schema, required) -%}
<tr>
    <td>
        {% if "$ref" != prop_name %}
            <span id="{{ prop_name }}">
                {{ prop_name }}
            </span>
            {% if required %}
                <br><sup><mark>required</mark></sup>
            {% endif %}
        {% endif %}
    </td>
    <td width=55%>
        {% if "$ref" == prop_name %}
            Inherits all properties from schema:
        {% elif "allOf" in prop_schema %}
            Inherits all properties from schemas:
        {% else %}
            {{ prop_schema["description"] }}{% if prop_schema["$comment"] %}
                <div><small>{{prop_schema["$comment"]}}</small></div>
            {% endif %}
        {% endif %}
    </td>
    <td>
        {% if "type" in prop_schema %}
            &lt; 
                {{ prop_type_format(prop_schema) }}
            &gt;
            <ul>
                {% for item in prop_schema["enum"] %}
                    <li>{{ item | tojson }}</li>
                {% endfor %}
            </ul>
            {% if "items" in prop_schema %} {# type: array #}
                {% if "url" in prop_schema["items"] %}
                    <a href="{{ prop_schema['items']['url'] }}">{{ prop_schema['items']['url'].replace('.html', '') }}</a>
                {% else %}
                    {{ prop_type_format(prop_schema["items"]) }}
                {% endif %}
            {% endif %}
            {% if "additionalProperties" in prop_schema %}
                {% if "propertyNames" in prop_schema and "$id" in prop_schema["propertyNames"] %}
                    {{prop_schema["propertyNames"]["$id"]}} -&gt;
                {% endif %}
                {% if "url" in prop_schema["additionalProperties"] %}
                    <a href="{{ prop_schema['additionalProperties']['url'] }}">{{ prop_schema['additionalProperties']['url'].replace('.html', '') }}</a>
                {% else %}
                    {{ prop_type_format(prop_schema["additionalProperties"]) }}
                {% endif %}
            {% endif %}
        {% elif "const" in prop_schema %}
            &lt; const: <strong>{{ prop_schema["const"] }}</strong> &gt;            
        {% elif "url" in prop_schema %}
            <a href="{{ prop_schema['url'] }}">{{ prop_schema['url'].replace('.html', '') }}</a>
        {% elif "type_ref" in prop_schema %} {# means we're in _template.json #}
            <a href="{{ prop_schema['type_ref'].replace('.json', '.html').replace('/', '.') }} }}">{{ prop_schema['type_ref'].replace('.json', '') }}</a>
        {% elif "allOf" in prop_schema %}
            <ul>
            {% for ref in prop_schema['allOf'] %}
                <li><a href="{{ref['url']}}">{{ref['url'].replace('.html', '')}}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            (UNKNOWN PROPERTY TYPE)
        {% endif %}
    </td>
</tr>
{%- endmacro %}

{% macro prop_type_format(prop_schema) -%}
    {{ prop_schema["type"]}} 
    {% if "format" in prop_schema %} :  {{prop_schema["format"]}}{% endif %}
    {% if "pattern" in prop_schema %} : <code>{{prop_schema["pattern"]}}</code> {% endif %}
    {% if "object" == prop_schema["type"] and "propertyNames" in prop_schema and "pattern" in prop_schema["propertyNames"] %}
        : <code>{{prop_schema["propertyNames"]["pattern"]}}</code>
    {% endif %}
{%- endmacro %}


{% macro definitions_table(schema, required) -%}
    {% if 'definitions' in schema %}
        {% for def_name, def_schema in schema['definitions'].items() %}
            <h5>Definitions - {{ def_name }}</h5>
            {{ properties_table(def_schema, required) }}
        {% endfor %}
    {% endif %}
{%- endmacro %}