{% macro header(schema, scope, required) -%}
{# Generate the section to put at the top of an entity's page #}
    <div class="container">
        <p>
            <a href="index.html">CIDC Data Model</a>
        </p>
        <h1>{{ schema["title"] }}</h1>
        <p>
            <b>Description:</b>  {{ schema["description"] }}
        </p>
        {% if "links" in schema %}
        <p>
            Each {{ schema["title"] }} is <b>linked</b> to:
            <ul>
                {% for link in schema["links"] %}
                    <li>{{ link["link"]["cardinality"]}}
                        <a href='{{scope}}.{{ link["link"]["linked_to"] }}.html'>
                            {{ link["link"]["linked_to"] }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </p>
        {% endif %}
    </div>
{%- endmacro %}

{% macro properties_table(schema, required) -%}
    {% if 'properties' in schema %}
        {% set properties = schema['properties'].items() %}
        {% set allOf = false %}
    {% elif 'allOf' in schema %}
        {% set properties = [] %}
        {% set allOf = true %}
        {% for prop in schema['allOf'] %}
            {% if 'properties' in prop %}
                {% set _ = properties.extend(prop['properties'].items()) %}
            {% else %}
                {% set _ = properties.append(("(inherits all properties from this schema)", prop)) %}
            {% endif %}
        {% endfor %}
    {% else %}
        {% set properties = schema.items() %}
    {% endif %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Property</th>
            <th>Description</th>
            <th>Data Type</th>
            <th>Required/Optional</th>
        </tr>
        </thead>
        {% for prop_name, prop_schema in properties %}
            <tr>
                <td><a name="{{ prop_name }}"></a>{{ prop_name }}</td>
                <td width=25%>
                    {{ prop_schema["description"] }}
                </td>
                <td>
                    {% if "type" in prop_schema %}
                        &lt;{{ prop_schema["type"]}}&gt; {{ prop_schema["format"]}}
                        <ul>
                        {% for item in prop_schema["enum"] %}
                            <li>{{ item }}</li>
                        {% endfor %}
                        {% if "items" in prop_schema %}
                            {% if "url" in prop_schema["items"] %}
                                <a href="{{ prop_schema['items']['url'] }}">{{ prop_schema['items']['url'].replace('.html', '') }}</a>
                            {% else %}
                                &lt;{{ prop_schema["items"]["type"]}}&gt; {{ prop_schema["items"]["format"]}}
                                <ul>
                                {% for item in prop_schema["items"]["enum"] %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        {% endif %}
                        </ul>
                    {% elif "url" in prop_schema %}
                        <a href="{{ prop_schema['url'] }}">{{ prop_schema['url'].replace('.html', '') }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if prop_name in required %}
                        required
                    {% else %}
                        optional
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{%- endmacro %}

{% macro definitions_table(schema, required) -%}
    {% if 'definitions' in schema %}
        {% for def_name, def_schema in schema['definitions'].items() %}
            <h5>Definitions - {{ def_name }}</h5>
            {{ properties_table(def_schema, required) }}
        {% endfor %}
    {% endif %}
{%- endmacro %}