{% import "macros.j2" as macros %}
{% extends "base.j2" %}
{% block content %}

  {{ macros.header(schema) }}

  <div class="container">
      {% for data_column in ["core_columns", "shipping_columns", "receiving_columns"] %}
          <h5>{{ column_descriptions[data_column] }}</h5>
          <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Data Type</th>
            </tr>
            </thead>
            {% for core_column in schema[data_column] %}
              {% set entity_name = core_column.split(".")[0] %}
              {% set property_name = core_column.split(".")[1] %}
              {% set current_property = property_dict[property_name] %}
              <tr>
                  <td><a href="{{ entity_name }}.html#{{ property_name }}">{{ core_column }}</a></td>
                  <td>{{ current_property["description"] }} </td>
                  <td width=40%>
                      &lt;{{ current_property["type"]}}&gt; {{ current_property["format"]}}
                      <ul>
                      {% for item in current_property["enum"] %}
                          <li>{{ item }}</li>
                      {% endfor %}
                      </ul>
                  </td>
                </tr>
            {% endfor %}
          </table>
      {% endfor %}
  </div>
{% endblock %}