{% import "macros.j2" as macros %}
{% extends "base.j2" %}

{% macro worksheet_tables(name, schema, required) -%}
  <h2>{{name}}</h2>
  {% if 'preamble_rows' in schema %}
    <h3>Preamble Rows</h3>
    {{ macros.properties_table(schema['preamble_rows'], required) }}
  {% endif %}
  {% if 'data_columns' in schema %}
    <h3>Data Columns</h3>
    {% for table_name, table_schema in schema['data_columns'].items() %}
      <h4>{{ table_name }}</h4>
      {{ macros.properties_table(table_schema, required) }}
    {% endfor %}
  {% endif %}
{%- endmacro %}

{% block content %}

  {{ macros.header(schema) }}

  <div class="container">
    {% for name, worksheet_schema in schema['properties']['worksheets'].items() %}
      {{ worksheet_tables(name, worksheet_schema, schema['required']) }}
    {% endfor %}
  </div>
{% endblock %}