<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body>
    
<main role="main">

    <div class="container">
        <p/>
        <p><a href="index.html">CIDC Data Model</a></p>
        <h1>{{ current_yaml["title"] }}</h1>
        <p>
        <b>Description:</b>  {{ current_yaml["description"] }}
        </p>
        <p>
            {% if "links" in current_yaml %}
                Each {{ current_yaml["title"] }} is <b>linked</b> to:
                <ul>
                    {% for link in current_yaml["links"] %}
                        <li><a href='{{ link["target_type"]}}.html'>{{ link["target_type"]}}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </p>
    </div>

  <div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Property ID</th>
            <th>Description</th>
            <th>Data Type</th>
        </tr>
        </thead>
        {% for property in sorted_property_list %}
        <tr>
            <td>{{ property}}</td>
            <td width=25%>{{ properties[property]["description"]}}</td>
            <td>
                &lt;{{ properties[property]["type"]}}&gt;
                <ul>
                {% for item in enum_dict[property] %}
                    <li>{{ item }}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
    <!-- Example row of columns -->

  </div> <!-- /container -->

</main>

   
    
    
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>